<!-- wp:template-part {"slug":"header-woo"} /-->

<!-- wp:group {"className":"bg-mute-light","align":"full","layout":{"inherit":true}} -->
<div class="wp-block-group alignfull bg-mute-light">
	<!-- wp:spacer -->
	<div style="height:100px" aria-hidden="true" class="wp-block-spacer"></div>
	<!-- /wp:spacer -->

	<!-- wp:group {"backgroundColor":"white","layout":{"inherit":true}} -->
	<div class="wp-block-group has-white-background-color has-background">
		<!-- wp:woocommerce/legacy-template {"template":"taxonomy-product_cat"} /-->
	</div>
	<!-- /wp:group -->

	<!-- wp:spacer -->
	<div style="height:100px" aria-hidden="true" class="wp-block-spacer"></div>
	<!-- /wp:spacer -->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->